body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #333;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #000;
}

.logo {
  height: 40px;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  margin-top: 60px;
}

.left {
  flex: 2;
  padding: 20px;
}

.right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -40px;
}

.right img {
  width: 320px;
  height: 430px;
}

.tving-only {
  width: 50px;
  display: block;
  margin-bottom: 20px;
}

h1 {
  font-size: 48px;
  margin: 0;
  margin-bottom: 20px;
}

.details span {
  display: inline-block;
  background-color: #555;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.watch-button {
  display: block;
  margin: 20px 0;
  padding: 10px 20px;
  background-color: #e50914;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}

.creators {
  margin: 20px 0;
}

.creators p {
  margin: 5px 0;
}

.description {
  line-height: 1.6;
}

.videos {
  padding: 20px;
}

.videos,
.reviews,
.cast {
  padding: 20px;
}

.similar-movies {
  padding: 20px;
  border-top: 2px solid #555;
}

.videos h2,
.similar-movies h2,
.reviews h2,
.cast h2 {
  margin: 0;
  margin-bottom: 20px;
}

.similar-movies h2 {
  text-align: left;
}

.videos h2 {
  text-align: left;
}

#videoResults,
#similarMovies,
#movieReviews,
#castList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  cursor: pointer;
}

#videoResults iframe,
.similar-movie img,
.cast-member img {
  width: 300px;
  height: 200px;
}

.similar-movie,
.cast-member {
  display: inline-block;
  text-align: center;
}

.similar-movie:hover {
  position: relative;
  bottom: 10px;
}

.similar-movie img {
  transition: all 1s ease-in-out;
  width: 200px;
  height: 270px;
  object-fit: cover;
  border-radius: 20px;
}

.arrow-left {
  font-size: 120px;
  position: absolute;
  top: 50px;
  left: 0;
  color: white;
  opacity: 0.5;
  cursor: pointer;
  z-index: 3;
}

.arrow-right {
  font-size: 120px;
  position: absolute;
  top: 50px;
  right: 0;
  color: white;
  opacity: 0.5;
  cursor: pointer;
}

.similar-movie h4,
.cast-member h4 {
  margin: 10px 0 0 0;
  font-size: 14px;
}

.cast-member {
  width: 150px;
}

/* 찜버튼 */
.detail-button {
  display: flex;
  align-items: center;
  gap: 1em;
}
#like-button {
  cursor: pointer;
  color: white;
  border: none;
  font-size: 2em;
  background-color: transparent;
}

/* Footer 스타일부분 */
footer {
  background-color: #000;
  color: #888;
  padding: 20px;
  text-align: left;
  margin-top: 30px;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 15px;
  margin-bottom: 15px;
}

.footer-top a {
  color: #888;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-top a:hover {
  color: #fff; /* 마우스를 올릴 때 글자색을 흰색으로 변경 */
}

.footer-middle {
  margin-bottom: 15px;
  font-size: 14px;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.social-icons img {
  width: 24px;
  height: 24px;
}

/* 반응형 */
@media (max-width: 1024px) {
  .content {
    flex-direction: column;
  }

  .right {
    margin-left: 0;
    margin-top: 20px;
  }

  .right img {
    width: 100%;
    height: auto;
  }

  h1 {
    font-size: 36px;
  }

  .details span {
    display: block;
    margin-bottom: 10px;
  }

  .videos h2,
  .similar-movies h2,
  .reviews h2,
  .cast h2 {
    font-size: 24px;
  }

  #videoResults iframe,
  .similar-movie img,
  .cast-member img {
    width: 100%;
    height: auto;
  }

  .similar-movie img {
    width: 100%;
    height: auto;
  }

  .cast-member {
    width: 100%;
  }

  .left,
  .right {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .content {
    flex-direction: column;
  }

  .left,
  .right {
    width: 100%;
  }

  .right img {
    width: 100%;
    height: auto;
  }

  h1 {
    font-size: 24px;
  }

  .details span {
    display: block;
    margin-bottom: 10px;
  }

  .videos h2,
  .similar-movies h2,
  .reviews h2,
  .cast h2 {
    font-size: 20px;
  }

  #videoResults iframe,
  .similar-movie img,
  .cast-member img {
    width: 100%;
    height: auto;
  }

  .similar-movie img {
    width: 100%;
    height: auto;
  }

  .cast-member {
    width: 100%;
  }

  .footer-top {
    flex-direction: column;
  }

  .social-icons {
    flex-wrap: wrap;
  }

  .social-icons img {
    width: 20px;
    height: 20px;
  }
}

/* 슬라이드 스타일 */
.slider-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  will-change: transform;
}

.similar-movie {
  flex: 0 0 auto;
  width: 200px;
  margin-right: 20px;
}

.arrow-left,
.arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
  z-index: 1;
}

.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
}

@media (max-width: 600px) {
  .similar-movie {
    width: 150px;
  }

  .arrow-left,
  .arrow-right {
    font-size: 20px;
  }
}

/* -------- */
/* Navbar */
.header {
  display: flex;
  width: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  z-index: 10;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1400px;
  height: 60px;
  margin: 0 auto;
  position: relative;
}

.navbar_left {
  display: flex;
  align-items: center;
}
.icon-button {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  margin-right: 10px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  color: rgb(207, 7, 7);
  font-size: 25px;
  font-weight: 800;
  text-decoration: none;
  margin: 0 10px;
}
.navbar .menus {
  display: flex;
  gap: 10px;
}
.navbar .menus button {
  display: flex;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  background-color: black;
  border: none;
  cursor: pointer;
}
.navbar_right {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
  padding-right: 17px;
}
.navbar_right .search-icon {
  font-size: 20px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}
.navbar_right .favorite-icon {
  font-size: 20px;
  font-weight: 600;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}
/* Top-menu */
.top-menu {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20; /* Ensure top-menu stays on top of the header and other content */
}
/* Search-box */
.top-menu .search-box {
  position: relative;
  display: flex;
  justify-content: center;
  top: 60px;
  width: 100%;
  height: 800px;
  background-color: black;
  flex-direction: column;
}
.search-box .inner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1100px;
  height: 100px;
  background-color: black;
  margin: 0 auto;
}
.top-menu.open {
  display: block;
}
.closeBtn {
  position: absolute;
  background-color: black;
  color: #fff;
  top: 5px;
  right: 10px;
  font-size: 35px;
  font-weight: 700;
  border: none;
}
.inner-search {
  display: flex;
  align-items: center;
  width: 300px;
  margin: 0 auto;
}
#search-input {
  display: flex;
  flex: 1;
  padding: 10px;
  font-size: 20px;
  color: #fff;
  border: none;
  background-color: black;
  border-bottom: 2px solid #fff;
}
.inner-search .search-icon {
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
/* inner 돋보기 */
.search-open-icon {
  background-color: black;
  color: #fff;
  border: none;
  font-size: 20px;
  margin-left: 10px;
}
