body {
  margin: 0;
  background-color: black;
}

.logo {
  text-decoration: none;
  color: #e50914;
  font-size: 2.5rem;
  font-family: inherit;
  font-weight: bold;
  margin-top: 0px;
  margin-right: 30px;
  position: relative;
  top: -4px;
}

/* .movie-list-container{
  margin-top: -120px;
} */

.inner-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vh;
  display: flex;
  justify-content: center;
  color: white;
}

.inner-title h2 {
  font-size: 4vw;
  padding: auto;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
}

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
}

.carousel-indicators .active {
  background-color: #fff;
}

.movie-list-container {
  margin-top: 30px;
  padding: 0 20px;
}

.movie-list-container h1 {
  color: white;
}

.movie-list-wrapper {
  position: relative;
  overflow: hidden;
}

.popular-movie-list,
.now-playing-movie-list,
.trending-movie-list,
.upcoming-movie-list,
.topRated-movie-list {
  display: flex;
  align-items: center;
  height: 300px;
  transform: translateX(0);
  transition: all 1s ease-in-out;
  position: relative;
}

.movie-list-item {
  margin-right: 30px;
  position: relative;
  transition: transform 1s ease;
}

.movie-list-item:hover .movie-list-item-img {
  position: relative;
  bottom: 10px;
  cursor: pointer;

}

.movie-list-item-img {
  transition: all 1s ease-in-out;
  width: 200px;
  height: 270px;
  object-fit: cover;
  border-radius: 20px;
}

.arrow-left {
  font-size: 120px;
  position: absolute;
  top: 50px;
  left: 0;
  color: white;
  opacity: 0.5;
  cursor: pointer;
  z-index: 3;
}

.arrow-right {
  font-size: 120px;
  position: absolute;
  top: 50px;
  right: 0;
  color: white;
  opacity: 0.5;
  cursor: pointer;
}

.movie-list-title {
  margin-top: 50px;
  cursor: pointer;
}

#second-section{
  position: relative;
  top: -130px;
}



/* 이희정님 파트 ccs 추가 */

.main-movie-board {
  display: flex;
  justify-content: space-around;
  /* margin-top: 50px;  */
}

/* nav 에 container , 66번째 container  */